body{
  background-color: #2B2D42;
}
#header{
  margin-top: 20px;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #EDF2F4 !important;
}
#cards{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}
.book-card{
  text-align: center;

  background-color: #8D99AE !important;
  color: #EDF2F4 !important;
}
.book-cover{
    padding-top: 5px;
    width: 50%;
    height: auto;
}
a:hover{
  text-decoration: none !important;
  color: #EDF2F4;
}
a{
  text-decoration: none !important;
  color: #EDF2F4;
}
