<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index/index.css' %}">

    <title> Library </title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="row justify-content-center" id="header">
          <a href="{% url 'index' %}"> Library </a>
        </div>
        <div class="row justify-content-center rounded" id="cards">
          <div class="row w-75 justify-content-center">
            <div class="card book-card col-12 col-lg-5 mr-2 mt-2">
                <a href="{% url 'render_list_of_books' %}">
                  <div>
                      <img src="{% static 'index/img/magnifier_with_book.jpg' %}" class="book-cover rounded img-responsive">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title"> Book Searcher </h5>
                      <div class="card-text">
                        Here you can searching for books
                      </div>
                  </div>
                </a>
            </div>
            <div class="card book-card col-12 col-lg-5 mr-2 mt-2">
              <a href="{% url 'render_import_from_value' %}">
                  <div>
                      <img src="{% static 'index/img/import_book.png' %}" class="book-cover rounded">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title"> Book Importer </h5>
                      <div class="card-text">
                        Here you can importing new books to database
                      </div>
                  </div>
                </a>
              </div>
          </div>
          <div class="row w-75 justify-content-center">
            <div class="card book-card col-12 col-lg-5 mr-2 mt-2">
              <a href="{% url 'render_book_creator_form' %}">
                  <div>
                      <img src="{% static 'index/img/add_book.png' %}" class="book-cover rounded">
                  </div>
                  <div class="card-body">
                      <h5 class="card-title"> Book Creator </h5>
                      <div class="card-text">
                        Here you can create new book
                      </div>
                  </div>
                </a>
              </div>
            <div class="card book-card col-12 col-lg-5 mr-2 mt-2">
                <a href="{% url 'render_for_devs' %}">
                <div>
                    <img src="{% static 'index/img/for_devs.jpg' %}" class="book-cover rounded">
                </div>

                  <div class="card-body">
                      <h5 class="card-title"> For devs </h5>
                      <div class="card-text">
                        Learn how to develop with Library
                      </div>
                  </div>
                  </a>
                </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
